*,
*::after,
*::before {
  box-sizing: border-box;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: normal;
  background-image: linear-gradient(
    to right top,
    #060606,
    #050504,
    #030303,
    #020201,
    #000000
  );
}
.header {
  display: flex;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  flex-shrink: 0;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 30px;
  color: #ffffff;
}
input {
  outline: none;
  border: none;
}
.logo {
  display: block;
  height: 40px;
  width: 40px;
}
a {
  text-decoration: none;
  color: white;
}
.header_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 40px 110px 40px 80px;
  z-index: 10;
}
.header_menu {
  display: flex;
  align-items: center;
  padding-left: 488px;
}
.zayavka {
  margin-left: 553px;
  font-size: 16px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.header_nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.header_nav a:not(:last-child) {
  margin-right: 71px;
  font-size: 16px;
}
.main_display {
  margin-left: 324px;
  padding-top: 270px;
}
.main_display_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.main_display .main_conteiner {
  position: relative;
  z-index: 10;
  padding-bottom: 228px;
}
.main_display_head {
  margin-top: 0;
  max-width: 760px;
  font-size: 64px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 64px;
  line-height: 140%;
}
.main_display_timer {
  display: flex;
  margin-bottom: 76px;
}
.button {
  font-size: 16px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.timer_item {
  width: 102px;
  height: 112px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
}
.timer_item:not(:last-child) {
  margin-right: 30px;
}
.timer_count {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}
.timer_text {
  opacity: 0.4;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.about {
  margin-left: 312px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.about_info {
  display: flex;
}
.about_img {
  margin-right: 139px;
  width: 526px;
  height: 499px;
}
.about_text {
  max-width: 636px;
  padding-top: 69px;
}
.about_header {
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}
.about_desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.process {
  position: relative;
  margin-left: 293px;
  padding-bottom: 200px;
}
.process_img {
  margin-right: 20px;
}
.process_header {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}
.process_title {
  display: flex;
}
.process_desc {
  margin-left: 24px;
  max-width: 411px;
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}
.process_columns {
  margin-left: 24px;
  display: flex;
}
.rect,
.rect2 {
  height: 2px;
  width: 324px;
  background-color: white;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin-bottom: 48px;
}
.rect1,
.rect3 {
  height: 2px;
  width: 324px;
  background-color: white;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-bottom: 48px;
}
.process_work {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}
.process_text {
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
}
.process_item {
  margin-right: 18px;
  max-width: 306px;
}
.team .conteiner {
  margin-left: 289px;
  margin-bottom: 200px;
}
.team_title {
  display: flex;
  margin-left: 44px;
}
.team_img {
  width: 127px;
  height: 127px;
}
.team_png {
  width: 90px;
  margin-right: 38px;
}
.team_header {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}
.team_columns {
  margin-left: 45px;
  display: flex;
}
.team_item {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
}
.team_item:not(:last-child) {
  margin-right: 24px;
}
.man_img {
  margin-left: 113px;
  margin-right: 113px;
  margin-bottom: 40px;
  width: 190px;
  height: 190px;
}
.team_name {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}
.team_disc {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.team_button {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 10px 30px;
  background-color: black;
  border: 1px solid white;
  border-radius: 50px;
}
.footer .conteiner {
  margin-left: 575px;
  margin-bottom: 244px;
}
.footer_title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}
.footer_disc {
  margin: 0;
  margin-bottom: 45px;
  margin-left: 201px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}
.footer_button {
  margin-bottom: 40px;
  margin-left: 313px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
}
.footer_sites {
  margin-left: 262px;
  display: flex;
}
.footer_site {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.footer_site:not(:last-child) {
  margin-right: 30px;
}
.footer_img {
  width: 24px;
  height: 24px;
}
